@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&display=swap');

:root {
  --color-primary: #ffddeb;
  --white: #ffffff;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    background-color: var(--white)
}

a, a:hover {
  text-decoration: none;
  color: unset;
}
